
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>布置作业</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
  <script src="../../res/layui/layui.js"></script>
  <script src="../../res/js/jquery.js"></script>
</head>
<body>

<div th:replace="common/header :: header"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">布置作业</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form action="" method="post">
              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3">
                  <label class="layui-form-label">哪门课？</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" name="courseId" lay-filter="column" lay-search>
                      <option th:each="course:${courses}" th:text="${course.courseTitle}" th:value="${course.courseId}">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" name="workTitle" required lay-verify="required" autocomplete="off"
                           class="layui-input">
                    <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                  </div>
                </div>
              </div>
              <div class="layui-row layui-col-space15 layui-form-item layui-hide" id="LAY_quiz">
                <div class="layui-col-md3">
                  <label class="layui-form-label" for="L_version">版本号</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_version" value="" name="version" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-col-md6">
                  <label class="layui-form-label" for="L_browser">浏览器</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_browser" value="" name="browser" placeholder="浏览器名称及版本，如：IE 11"
                           autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <div class="layui-input-block">
                  <textarea id="L_content" name="workContent" placeholder="详细描述"
                            class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                </div>
              </div>

              <div class="layui-form-item">
                <button type="button" class="layui-btn" id="file1">
                  <i class="layui-icon">&#xe67c;</i>上传文件
                </button>
                <input id="fileName" name="workAttachmentUrl" hidden>
              </div>

              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">悬赏飞吻</label>
                  <div class="layui-input-inline" style="width: 190px;">
                    <select name="experience">
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="80">80</option>
                    </select>
                  </div>
                  <div class="layui-form-mid layui-word-aux">发表后无法更改飞吻</div>
                </div>
              </div>


              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">人类验证</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" lay-verType="tips" name="vercode" required
                         lay-verify="required|number|safeVerify" placeholder="请回答后面的问题" autocomplete="off"
                         class="layui-input">
                </div>
                <div class="layui-form-mid">
                  <img th:src="@{/pictureVerifyCode(type=publishWork)}" style="height:22px;" id="codeImg"
                       alt="点击更换" onclick="refreshSafeCode()"
                       title="点击更换" src=""/>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即发布</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p><a href="https://github.com/ming-jock" target="_blank">我的github</a> 2018 &copy; </p>
</div>

<script type="application/javascript">
    var layedit;
    var layeditIndex;
    //富文本编辑器
    layui.use('layedit', function(){
        layedit = layui.layedit;

        layedit.set({
            uploadImage: {
                url: 'uploadImg'
            }
        });

        layeditIndex = layedit.build('L_content'); //建立编辑器
    });

    <!--表单控件-->
    layui.use('form', function () {
        var form = layui.form;

        // 校验验证码是否正确
        form.verify({
            safeVerify: function (value,item) {
                var data={};
                data.code=value;
                data.type="publishWork";
                var result;
                $.ajax({
                    type:'post',
                    url:'/checkPictureCode',
                    data:JSON.stringify(data),
                    success:function (data) {
                        result = data;
                    },
                    async:false,
                    contentType:'application/json',
                    dataType:'json'
                });


                // 这里必须用数字类型的0
                if(result.code !== 0){
                    // 验证码输入错误需要刷新
                    refreshSafeCode();
                    return result.message;
                }

                layedit.sync(layeditIndex);
            }
        });


        form.on('submit(*)', function (data) {

            console.log(data.field);
            $.ajax({
                type: "POST",
                url: "/publishWork",
                contentType: "application/json;charset=UTF-8",
                async:false,
                data: JSON.stringify(data.field),
                dataType:"json",
                success: function (data) {
                    alert(data.message);
                    window.location.href="/";
                }
            });

            return false;
        });


    });



    //上传组件
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#file1'    //绑定元素
            ,url: '/upload'   //上传接口
            ,accept:'file'
            ,method:'post'
            ,done: function(res){
                //上传完毕回调
                alert('上传成功');
                $("#fileName").val(res.url);
            }
            ,error: function(){
                //请求异常回调
                alert('上传失败，请检查您的网络或稍后再试');
            }
        });
    });

    function refreshSafeCode() {
        document.getElementById("codeImg").src="/pictureVerifyCode?type=publishWork&h="+Math.random();
    }
</script>
</body>
</html>