<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.gd.mapper.CourseMapper">

    <resultMap id="courseAndUserDTO" type="com.lym.gd.DTO.CourseAndUserDTO">
        <result property="user.userIcon" column="user_icon" />
        <result property="user.userName" column="user_name" />

        <result property="course.courseId" column="course_id" />
        <result property="course.courseTitle" column="course_title" />
        <result property="course.courseCreateDate" column="course_create_date" />

    </resultMap>

    <resultMap id="course" type="com.lym.gd.entity.Course">
        <id property="courseId" column="course_id" />
        <result property="courseCreateDate" column="course_create_date" />
        <result property="courseTitle" column="course_title" />
    </resultMap>

    <select id="findCourseAndUserByCourseStatus" resultMap="courseAndUserDTO">
        select
            u.user_icon,u.user_name,
            c.course_id,c.course_title,c.course_create_date
        from course c
        left join user u on c.course_teacher_id = u.user_id
        where c.course_status = '1'
    </select>

    <update id="updateCourseStatus2Starting">
        update course
        set course_status = '2'
        where date_sub(curdate(), interval -1 day) > course_start_date and course_status = '1'
    </update>

    <update id="updateCourseStatus2End">
        update course
        set course_status = '3'
        where now() > course_end_date and course_status = '2'
    </update>

    <select id="findCoursesByCourseStartDate" resultMap="course">
        select
            course_id,
            course_title
        from course c
        where date_format(c.course_start_date, '%Y-%m-%d') = #{startDate}
    </select>

</mapper>