<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lym.gd.mapper.WorkMapper">

    <resultMap id="userWorkCourseDTO" type="com.lym.gd.DTO.UserWorkCourseDTO">
        <result property="user.userIcon" column="user_icon" />
        <result property="user.userName" column="user_name" />

        <result property="work.workId" column="work_id" />
        <result property="work.workTitle" column="work_title" />
        <result property="work.workCreateDate" column="work_create_date" />

        <result property="course.courseTitle" column="course_title" />

        <!--
        <id column="user_id" jdbcType="VARCHAR" property="userInfo.userId" />
		<result column="user_name" jdbcType="VARCHAR" property="userInfo.userName" />
        -->
    </resultMap>

    <resultMap id="checkWorkDTO" type="com.lym.gd.DTO.CheckWorkDTO">
        <result property="user.userIcon" column="user_icon" />
        <result property="user.userName" column="user_name" />

        <result property="studentWork.studentWorkSubmitDate" column="student_work_submit_date" />
    </resultMap>

    <resultMap id="work" type="com.lym.gd.entity.Work">
        <id property="workId" column="work_id" />
        <result property="courseId" column="course_id" />
        <result property="workCreateDate" column="work_create_date" />
        <result property="workTitle" column="work_title" />
        <result property="workContent" column="work_content" />
        <result property="workStatus" column="work_status" />
    </resultMap>

    <select id="getNormalWorkByStudent" resultMap="userWorkCourseDTO" parameterType="string">
        select
            u.user_icon,u.user_name,
            w.work_id,w.work_title,w.work_create_date,
            c.course_title
        from student_course sc
            left join course c on sc.`course_id` = c.`course_id`
            left join work w on w.`course_id` = c.`course_id`
            left join user u on u.`user_id` = c.`course_teacher_id`
        where c.course_status = '2' and sc.`student_id` = ${studentId}
    </select>

    <select id="getNormalWorkByWorkId" resultMap="work" parameterType="string">
        select w.course_id,w.work_create_date,w.work_title,w.work_id,w.work_status,w.work_content
        from work w
            left join course c on w.`course_id` = c.`course_id`
        where c.`course_status`='2' and w.`work_id` = #{workId}
    </select>


    <select id="getUserAndStudentWorkByWorkId" resultMap="checkWorkDTO">
        select
            u.user_icon,
            u.user_name,
            sw.student_work_submit_date
        from student_work sw
            left join user u on sw.student_work_user_id
        where sw.work_id = #{workId}
    </select>


</mapper>