<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登入</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../res/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">
    <script src="../../res/js/jquery.js"></script>
    <script src="../../res/layui/layui.js"></script>
</head>
<body>

<div th:replace="common/header :: header"></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li class="layui-this">登入</li>
                <li><a href="reg.html">注册</a></li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form >
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">手机</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="phone" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="password" required lay-verify="required"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_vercode" class="layui-form-label">人类验证</label>
                                <div class="layui-input-inline">
                                    <!--<input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请回答后面的问题" autocomplete="off" class="layui-input">-->
                                </div>
                                <div class="layui-form-mid">
                                    <span style="color: #c00;">{{d.vercode}}</span>
                                    <img th:src="@{/pictureVerifyCode}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <!--<button class="layui-btn" lay-filter="*" lay-submit>立即登录</button>-->
                                <button class="layui-btn" lay-submit lay-filter="loginAction">立即登录</button>
                                <span style="padding-left:20px;">
                  <a href="forget.html">忘记密码？</a>
                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="https://github.com/ming-jock" target="_blank">我的github</a> 2018 &copy; </p>
</div>

<script type="application/javascript" src="../../res/layui/lay/modules/layer.js"></script>
<script type="application/javascript">

    layui.use('form', function(){
        var form = layui.form;

        form.on('submit(loginAction)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

            $.ajax({
                type: "post",
                url: "/loginAction",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data:JSON.stringify(data.field),
                success: function (data) {
                    if (data.code != 0){
                        layer.alert(data.message);
                    } else {
                        window.location.href="/";
                    }
                }
            });

            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });


</script>

</body>
</html>